*{
    padding: 0;
    margin: 0;
}
header ,footer{
    background-color: rgb(148, 148, 227);
    text-align: center;
    padding: 20px;
}
span{
    color: red;
}
main{
    text-align: center;
    margin: 20px;
}
.p-grid{
    margin: 20px 20%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}
.product{
   width: 250px;
   margin: auto;
   border: 1px solid #b9adad;
   background-color: antiquewhite;
   padding: 20px;
   border-radius: 5px;
   
   
}
.product img{
   max-width: 100%;
    height:100%;
}
.price{
    color: rgb(189, 127, 35);
    font-size:1.2rem;
    padding: 10px;
    
}
button{
    background-color: blue;
    padding: 10px 20px ;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
}
button:hover{
    background-color: blueviolet;
}
